@model IEnumerable<ClassroomModel>
@{ 
    ViewData["Title"] = "Classrooms";
}
<h1>
    @ViewData["Title"]
</h1>

<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.FirstOrDefault().Name)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.FirstOrDefault().Teacher)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.FirstOrDefault().School)
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Teacher)
            </td>
            <td>
                @Html.DisplayFor(m => item.School.Name)
            </td>
        </tr>
    }
</table>